<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971201922316-iv0j0q5h43oo7fppiu6iou8uq4tfnt55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971201922316-iv0j0q5h43oo7fppiu6iou8uq4tfnt55</string>
	<key>API_KEY</key>
	<string>AIzaSyDDnfmQhPu2RHDbmHNigWBqLgPb0qUEZeg</string>
	<key>GCM_SENDER_ID</key>
	<string>971201922316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bpicioane.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktacular-f399e</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular-f399e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971201922316:ios:36443517e1662c07ec7529</string>
	<key>DATABASE_URL</key>
	<string>https://snacktacular-f399e.firebaseio.com</string>
</dict>
</plist>